<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/new.css" />
<%- include('../partials/nav') %>

<main>
	<h1><%= title %></h1>
  <p>Please first ensure that the Meal is not in the dropdown
    <select>
      <% meals.forEach(function(meal) { %>
        <option><%= meal.name %></option>
      <% }) %>
    </select>
  </p>
  <form id="add-meal-form" action="/meals" method="POST">
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input">
    <button type="submit">Add Meal</button>
  </form>
</main>

<%- include('../partials/footer') %>